.container{
  width: 500px;
  border: 1px solid black;
  display: flex;
  margin: auto;
 background-color: rgb(218, 237, 237);
  justify-content: space-between;
}
 button{
  background-color: gray;
  border: none;
  color: white;
 }

h2{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: -30px;
}

p{
  display: inline-block;
  margin-right: 5px;

}
.one{
  width: 60px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 20px;
}
.one>img{
  width: 20px;
}